// Typography
$roboto: 'Roboto';
$lobster: 'Lobster';

// Colors
$grey: #3c4042;
$green: #00c851;
$dark-green: #007e33;
$black: #202124;
$cash-black: darken(#0097a7, 50%);

// BG Colors
$black-bg: #121212;
$grey-bg: #606368;

// Sidebar
$sidebar-active: darken(#2f4553, 10%);

// Body
$body-bg: $black-bg;

// Login
$login-bg: $black-bg;