.table-container {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.employee {
  position: absolute;
  background-color: #1e1e1e;
  width: 100%;
  height: calc(100vh - 48px);
}

.vcard-table {
  position: relative;
  border-radius: 0px !important;
}