body {
  font-family: $roboto !important; 
 // overflow-y: hidden !important;
}
body, .v-main__wrap {
background-color: $body-bg !important;
}

.brand-title {
font-family: $lobster !important;
}

.v-toolbar, .v-toolbar--dense .v-app-bar {
background-color: #202124 ;//$black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.v-messages__message {
color: #ff5252 !important;
}

.v-radio {
  background-color: transparent !important;
  &:active {
    background-color: transparent !important;
  }
}
